.produit-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    padding: 5px;
    margin: 5px 0;
    color: #03071e;
    border: 1.5px solid #8d99ae;
    border-radius: 5px;
    overflow: hidden;
}

.produit-element:active,
.produit-element:hover {
    background-color: #8a817c;
}
